
/*****************/
/* GENERAL STYLES */
/*****************/

h1 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 30px;
  color: #0000CD;
}

h2 {
  font-family: 'Walter Turncoat', cursive;
  font-size: 20px;
  color: black;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 12px;
  color: black;
}

/* p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 20px;
} */

#my-map {
  position: fixed;
  position: absolute;
  margin-left: 300px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#container {
  text-align: left;
  background: rgba(255, 255, 255,.08);
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px 5px 5px 5px;
  width: 300px;
  border: 2px solid ;
  border-color:#D3D3D3;
}

#time {
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

#legend {
  text-align: left;
  background: #FFF;
  position: absolute;
  z-index: 1000;
  bottom: 50px;
  left: 50px;
  width: 200px;
  opacity: 1;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px 5px 5px 5px;
  width: 300px;
  border: 2px solid ;
  border-color:#D3D3D3;
}

/*****************/
/* BUTTONS       */
/*****************/

.button {
  text-align: center;
  border-radius: 8px;
  background-color: #FFF;
  border: 2px solid #FFF;
  padding: 10px 10px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #0000CD;
  cursor: pointer;
}

.button:active {

}
/***********************/
/* LAYER control STYLE */
/***********************/

.leaflet-control-layers-expanded {
  font-family: 'Jura', sans-serif;
  font-size: 10px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}
