
/*****************/
/* GENERAL STYLES */
/*****************/

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: black;
}

#my-map {
  position: fixed;
  position: absolute;
  margin-top: 0px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#legend {
  text-align: left;
  background: #FFF;
  position: absolute;
  z-index: 1000;
  top: 11px;
  left: 56px;
  background: #FFF;
  opacity: 1;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  border: 0px solid ;
  border-color:#FFF;
  box-shadow: 10px 10px 5px -5px rgba(214,214,214,0.39);
}


/*****************/
/*               */
/*****************/

/*****************/
/* LEGEND STYLES */
/*****************/

.legendItem {
  display: inline-block;
}

.legendItem::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  Opacity: 0.
}

/* More trips arriving to the station */
.A::before {
  background-color: #32CD32;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #32CD32;
}

/* More trips leaving the station */
.B::before {
  background-color: #DC143C;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #DC143C;
}

/* Same amount of trips arriving and leaving */
.C::before {
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #C0C0C0;
}

/***********************/
/* LAYER control STYLE */
/***********************/

.leaflet-control-layers-expanded {
  color: white;
	background-color: #2da0e2;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}
