
/*****************/
/* GENERAL STYLES */
/*****************/

h1 {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  color: black;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 12px;
  color: black;
}

#my-map {
  position: fixed;
  position: absolute;
  margin-top: 0px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#title {
  text-align: left;
  background: #FFF;
  position: absolute;
  z-index: 1000;
  top: 11px;
  left: 56px;
  background: #FFF;
  opacity: 1;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px 5px 5px 5px;
  width: 350px;
  border: 2px solid ;
  border-color:#D3D3D3;
}

#legend {
  text-align: left;
  background: #FFF;
  position: absolute;
  z-index: 1000;
  top: 150px;
  left: 56px;
  background: #FFF;
  opacity: 1;
  padding-left:  10px;
  padding-right:  10px;
  border-radius: 5px 5px 5px 5px;
  width: 350px;
  border: 2px solid ;
  border-color:#D3D3D3;
}

#time {
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

/*****************/
/* BUTTON        */
/*****************/

.StartButton {
  font-family: 'Jura';
  font-size: 12px;
  text-align: left;
  border-radius: 8px;
  background-color: #D3D3D3;
  border: 2px solid #D3D3D3;
  color: black;
  padding: 10px 10px;
}

.StartButton:hover {
  background-color: transparent;
  border: 2px solid #D3D3D3;
  color: black;
  cursor: pointer;
}

/*****************/
/* LEGEND STYLES */
/*****************/

.legendItem {
  display: inline-block;
}

.legendItem::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  Opacity: 0.
}

/* More trips arriving to the station */
.A::before {
  background-color: #32CD32;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #32CD32;
}

/* More trips leaving the station */
.B::before {
  background-color: #DC143C;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #DC143C;
}

/* Same amount of trips arriving and leaving */
.C::before {
  background-color: #C0C0C0;
  width: 10px;
  height: 10px;
  border: 2px solid ;
  border-color: #C0C0C0;
}

/***********************/
/* LAYER control STYLE */
/***********************/

.leaflet-control-layers-expanded {
  font-family: 'Jura', sans-serif;
  font-size: 12px;
}

.leaflet-control-layers-expanded {
    border-radius: 20px ;
    color: #0000CD;
    background: #0000CD;
}
